:root { 
--black_900:#000000; 
--blue_gray_300:#9ba4b5; 
--gray_800:#393e46; 
--green_700_cc:#2f8d46cc; 
--gray_900:#222222; 
--orange_800:#c68301; 
--blue_gray_300_7f:#9ba4b57f; 
--cyan_50:#e0fff8; 
--green_700:#2f8d46; 
--white_A700:#ffffff; 
--gray_100:#f1f6f9; 
}